/* ---------- Icons (service) */
.wtvfs-icon-service,
.wtvfs-icon-service-sm { background-image: url('service-on@sm.svg') !important; background-size: contain; }
.wtvfs-icon-service-off-sm { background-image: url('service-off@sm.svg') !important; background-size: contain; }
.wtvfs-icon-service-md { background-image: url('service-on@md.svg') !important; background-size: contain; }
.wtvfs-icon-service-off-md { background-image: url('service-off@md.svg') !important; background-size: contain; }
.wtvfs-icon-service-lg { background-image: url('service-on@lg.svg') !important; background-size: contain; }
.wtvfs-icon-service-off-lg { background-image: url('service-off@lg.svg') !important; background-size: contain; }
/* ---------- Icons (actions) */
/*.wtvfs-icon-addStore { background-image: url('store-add_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addStoreFtp { background-image: url('store-ftp_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addStoreDropbox { background-image: url('dropbox_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addStoreGooDrive { background-image: url('googledrive_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addStoreNextcloud { background-image: url('nextcloud_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addStoreFile { background-image: url('store-file_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-editStore { background-image: url('store-edit_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-deleteStore { background-image: url('store-delete_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-goUp { background-image: url('file-goUp_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-createFile { background-image: url('file-createFile_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-createFolder { background-image: url('file-createFolder_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-uploadFile { background-image: url('file-upload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-downloadFile { background-image: url('file-download_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-renameFile { background-image: url('file-rename_16.svg') !important; background-size: contain; }v
/*.wtvfs-icon-deleteFile { background-image: url('file-delete_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addFileDlLink { background-image: url('linkDownload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-addFileUlLink { background-image: url('linkUpload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-genFileDlQRcode { background-image: url('qrcode_16.svg') !important; background-size: contain; }*/
/* ---------- Icons (others) */
/*.wtvfs-icon-rootfolder { background-image: url('rootfolder_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-store { background-image: url('store_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeMy { background-image: url('store-my_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeIncoming { background-image: url('store-incoming_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeMyDocs { background-image: url('store-myDocs_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeDomainImages { background-image: url('store-domainImages_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeFile { background-image: url('store-file_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeFtp { background-image: url('store-ftp_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeWebdav { background-image: url('store-webdav_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeSmb { background-image: url('store-smb_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeDropbox { background-image: url('dropbox_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeGooDrive { background-image: url('googledrive_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeNextcloud { background-image: url('nextcloud_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-storeOther { background-image: url('store_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-downloadLink { background-image: url('linkDownload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-downloadLink-active { background-image: url('linkDownload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-downloadLink-expired { background-image: url('linkDownload-broken_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-uploadLink { background-image: url('linkUpload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-uploadLink-active { background-image: url('linkUpload_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-uploadLink-expired { background-image: url('linkUpload-broken_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-sharingLink { background-image: url('sharingLink_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-sharingLinks { background-image: url('sharingLinks_16.svg') !important; background-size: contain; }*/
/*.wtvfs-icon-qrCodeGen { background-image: url('qrcode_16.svg') !important; background-size: contain; }*/