.wtvfs-icon-service-xs { background-image: url('service_16.png') !important; }
.wtvfs-icon-service-s { background-image: url('service_24.png') !important; }
.wtvfs-icon-service-m { background-image: url('service_32.png') !important; }
.wtvfs-icon-service-l { background-image: url('service_48.png') !important; }

.wtvfs-icon-addStore-xs { background-image: url('store-add_16.png') !important; }
.wtvfs-icon-addStoreFtp-xs { background-image: url('storeFtp_16.png') !important; }
.wtvfs-icon-addStoreDropbox-xs { background-image: url('dropbox_16.png') !important; }
.wtvfs-icon-addStoreGooDrive-xs { background-image: url('googledrive_16.png') !important; }
.wtvfs-icon-addStoreFile-xs { background-image: url('storeFile_16.png') !important; }
.wtvfs-icon-editStore-xs { background-image: url('store-edit_16.png') !important; }
.wtvfs-icon-deleteStore-xs { background-image: url('store-delete_16.png') !important; }

.wtvfs-icon-goUp-xs { background-image: url('goUp_16.png') !important; }
.wtvfs-icon-uploadFile-xs { background-image: url('file-upload_16.png') !important; }
.wtvfs-icon-downloadFile-xs { background-image: url('file-download_16.png') !important; }
.wtvfs-icon-renameFile-xs { background-image: url('file-rename_16.png') !important; }
.wtvfs-icon-deleteFile-xs { background-image: url('file-delete_16.png') !important; }
.wtvfs-icon-createFileFolder-xs { background-image: url('file-createFolder_16.png') !important; }
.wtvfs-icon-addFileDlLink-xs { background-image: url('linkDownload_16.png') !important; }
/*.wtvfs-icon-deleteFileDlLink-xs { background-image: url('link-delete_16.png') !important; }*/
.wtvfs-icon-addFileUlLink-xs { background-image: url('linkUpload_16.png') !important; }
/*.wtvfs-icon-deleteFileUlLink-xs { background-image: url('link-delete_16.png') !important; }*/

.wtvfs-icon-store-xs { background-image: url('store_16.png') !important; }
.wtvfs-icon-myStore-xs { background-image: url('store_16.png') !important; }
.wtvfs-icon-incomingStore-xs { background-image: url('incomingStore_16.png') !important; }
.wtvfs-icon-storeMyDocs-xs { background-image: url('storeMyDocs_16.png') !important; }
.wtvfs-icon-storeFtp-xs { background-image: url('storeFtp_16.png') !important; }
.wtvfs-icon-storeDropbox-xs { background-image: url('dropbox_16.png') !important; }
.wtvfs-icon-storeGooDrive-xs { background-image: url('googledrive_16.png') !important; }
.wtvfs-icon-storeFile-xs { background-image: url('storeFile_16.png') !important; }
.wtvfs-icon-storeWebdav-xs { background-image: url('storeWebdav_16.png') !important; }
.wtvfs-icon-storeSmb-xs { background-image: url('storeSmb_16.png') !important; }
.wtvfs-icon-storeOther-xs { background-image: url('store_16.png') !important; }
.wtvfs-icon-downloadLink-xs { background-image: url('linkDownload_16.png') !important; }
.wtvfs-icon-downloadLinkExp-xs { background-image: url('linkDownload-red_16.png') !important; }
.wtvfs-icon-uploadLink-xs { background-image: url('linkUpload_16.png') !important; }
.wtvfs-icon-uploadLinkExp-xs { background-image: url('linkUpload-red_16.png') !important; }
.wtvfs-icon-sharingLink-xs { background-image: url('sharingLink_16.png') !important; }

.wtvfs-gpfiles .x-grid-empty {text-align: center;}
.wtvfs-gplinks-row-expired { color: #E60D35; }

.so-filedrop {
	position: absolute;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	background: transparent !important;
}

.so-filedrop:before {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	border: 4px dashed #cfcfcf;
	content: '';
}

.so-filedrop .x-mask-msg-inner {
	position: absolute;
    top: 50%;
    width: 100%;
    color: #cfcfcf;
    font-size: 30px;
    text-align: center;
}

.so-filedrop .x-mask-msg-inner .x-mask-msg-text  {
	padding: 0px;
	background-image: none;
}
